html,
body,
.app {
  margin: 0;
  height: 100%;
}

.app {
  background-image: url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80");
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 10px 20px 10px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  font-style: italic;
}
